<div class="container carousel-slide">
  <div class="row no-gutters">
    <div class="col-lg-5 home-slide first-slide">
      <div class="slide-content d-flex flex-column justify-content-center h-100">
        <div>
          <h2>Infographies & Rapports</h2>
          <p>
            Les startups, accélerateurs, incubateurs, investisseurs, coworking spaces, structures de soutien (Enabler),
            services publiques, média, appels à projets, événements et jobs.
          </p>
        </div>
      </div>
      <img class="dots" src="assets/images/white-dots.svg">
      <div class="circle"></div>
    </div>
    <div class="col-lg-7 first-image-slide">
      <svg-icon class="dots dots-1" [svgStyle]="{'width.px': 32}" src="assets/images/blue-dots.svg"></svg-icon>
      <svg-icon class="dots dots-2" [svgStyle]="{'width.px': 32}" src="assets/images/blue-dots.svg"></svg-icon>
    </div>
  </div>
</div>

<div class="container text-center">

  <p class="home-seach-text">
    Recherche tagline here
  </p>
  <div class="search-input mb-100">
    <svg-icon [svgStyle]="{'width.px': 32}" src="assets/images/search.svg"></svg-icon>
    <input type="text" placeholder="Recherche"/>
  </div>
</div>
<div class="container-fluid">
  <div class="page-main-title left-title">
    <img src="assets/images/ic_circle_blue.svg"/>
    <h2>Infographies</h2>
  </div>
  <div class="insight-slider text-center mb-100">
    <img src="assets/images/insights-1.svg"/>
  </div>
  <div class="w-100 mb-130 d-flex justify-content-center">
    <div class="slider w-65">
      <owl-carousel-o [options]="insightsCustomOptions">
        <ng-template *ngFor="let insightGroup of infography" carouselSlide>
          <app-insight-item *ngFor="let insight of insightGroup" [insight]="insight"></app-insight-item>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="page-main-title right-title">
    <h2 class="green-title">Rapports</h2>
    <img src="assets/images/ic_circle_green.svg"/>
  </div>
  <div class="insight-slider text-center mb-100">
    <img src="assets/images/insights-2.svg"/>
  </div>
  <div class="w-100 mb-130 d-flex justify-content-center">
    <div class="slider w-65">
      <owl-carousel-o [options]="insightsCustomOptions">
        <ng-template *ngFor="let insightGroup of reports" carouselSlide>
          <app-insight-item *ngFor="let insight of insightGroup" [insight]="insight"></app-insight-item>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
