<div class="container-fluid ecosystem-header">
  <div class="row">
    <div class="offset-lg-1 col-lg-5">
      <h1 class="ecosystem-title">Voyage dans l’écosystème</h1>
      <p class="ecosystem-description">
        Entrepreneurs of Tunisia sera la vitrine de l’écosystème entrepreneurial tunisien par excellence. Elle offre aux entrepreneurs tunisiens l’opportunité d’être présents sur le portail moyennant une fiche Entreprise / Startup permettant de se présenter à la communauté élargie
      </p>
    </div>
  </div>
</div>


<div class="container startup-mindset-container pb-5">
  <img (click)="openEcosystemModal()" class="startup-mindset" src="assets/images/startup-mindset.svg" alt="">
</div>
