<footer class="footer bg-blue container-fluid">
  <div class="row">
    <div class="col-lg d-flex align-items-center justify-content-center justify-content-lg-start">
      <p class="text-center text-lg-start"><span class="bold">Entrepreneurs of Tunisia /</span> www.eot.tn</p>
    </div>
    <div class="col-auto d-none d-lg-block">
      <div class="vertical-separator"></div>
    </div>
    <div class="col-lg-auto d-flex align-items-center justify-content-center">
      <p>Une initiative de</p>
    </div>
    <div class="col-lg-auto bg-white text-center skew d-flex align-items-center justify-content-center">
      <img class="mx-3" src="assets/images/biat.svg" alt="Logo de la fondation BIAT">
    </div>
    <div class="col-lg-auto d-flex align-items-center justify-content-center">
      <div class="row justify-content-center">
        <div class="col-auto d-flex align-items-center">
          <p>En partenariat avec</p>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img src="assets/images/mazam.png" alt="Logo de MAZAM">
        </div>
      </div>
    </div>
  </div>
</footer>
