<footer class="footer d-flex flex-nowrap">
  <div class="bg-blue p-3 w-50">
    <p class="bold p-2">Entrepreneurs of Tunisia /</p>
    <p> www.eot.tn</p>
  </div>
  <img class="height-full" src="assets/images/footer_separator_rl.svg"/>
  <div class="bg-blue">
    <p class="small p-3">Une initiative de</p>
  </div>
  <img class="height-full" src="assets/images/footer_separator_l.svg"/>
  <img class="height-full p-2" src="assets/images/biat.svg"/>
  <img class="height-full" src="assets/images/footer_separator_r.svg"/>
  <div class="bg-blue col">
    <p class="small p-3">En partenariat avec</p>
    <img class="p-2 height-full" src="assets/images/mazam.png"/>
  </div>
</footer>
