<div class="job-item">
  <div class="logo-container">
    <img src="assets/images/mazam-white.svg" alt="Logo de MAZAM">
  </div>
  <p class="job-title">UI/UX Designer</p>
  <p class="job-detail">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
  </p>
  <div class="chips">
    <div class="job-chip">
      <span class="job-chip-content">Temps plein</span>
    </div>
    <div class="job-chip">
      <span class="job-chip-content">Min. 2 ans</span>
    </div>
    <div class="job-actions">
      <div class="row no-gutters">
        <div class="col-6">
          <button class="btn btn-red">
            Postulez
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-gray">
            Message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
