@import "src/vars";
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

h1.mindset-title {
  font-family: 'Ambit', sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 0;
}

p.mindset-subtitle {
  font-family: 'Ambit', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

p.mindset-description {
  font-family: 'Ambit', sans-serif;
  font-weight: 300;
}

.text-col-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 15px;
  height: calc(100% - 38px);

  .text-container {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .navigation-container {
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

}

.nav-btn {
  width: 100%;
  font-family: 'Ambit', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;

}

.grid-title {
  font-family: 'Ambit', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #707070;
}

.grid-container {
  height: 75vh;
  overflow-y: scroll;
  padding: 40px 0;
}

.mindset-grid {
  width: 100%;
}
