<section class="mt-5 text-center">
  <div class="w-50 mx-auto text-center">
    <h1>CONTACTEZ-NOUS</h1>
    <form class="example-form mb-30">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Nom et Prénom</mat-label>
          <input matInput placeholder="Foulen Ben Foulen">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Adresse mail</mat-label>
          <input matInput placeholder="Foulenben foulen@gmailcom">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Message" rows="7"></textarea>
        </mat-form-field>
      </div>

    </form>

    <button class="btn submit-button mb-30">
      Envoyer
    </button>

    <div class="d-flex justify-content-center">
      <img src="assets/images/ic_youtube.svg"/>
      <img src="assets/images/ic_twitter.svg"/>
      <img src="assets/images/ic_fb.svg"/>
      <img src="assets/images/ic_instagram.svg"/>
      <img src="assets/images/ic_pen.svg"/>
    </div>


  </div>
</section>
