@import "../../../vars";

.carousel-container {
  border-radius: 40px;
  overflow: hidden;
  height: 100vw;
  box-shadow: 0 10px 99px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
}

.insight-image-container {
  height: 100vw;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

h1 {
  font-family: 'Ambit', sans-serif;
  font-weight: 700;
  color: $blue1;
  font-size: 48px;
}

h2 {
  font-family: 'Ambit', sans-serif;
  font-weight: 400;
  color: $blue1;
  font-size: 34px;
}

.large-paragraph {
  color: $blue1;
  font-size: 16px;
  font-family: 'Ambit', sans-serif;
}

.price-tag {
  display: inline-block;
  background-color: #8f993d;
  font-family: 'Ambit', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  padding: 8px 16px 6px;
  border-radius: 25px;

  svg-icon {
    margin-right: 6px;
  }

}

.file-download {
  display: inline-block;
  background-color: $blue1;
  font-family: 'Ambit', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  padding: 8px 24px;
  border-radius: 25px;
  text-decoration: none;

  svg-icon {
    margin-right: 6px;
  }
}

.small-cover {
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.16);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}

.small-carousel-container {
  height: 600px;

  .small-image-container {
    height: 600px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

}

.small-paragraph {
  color: $blue1;
  font-size: 16px;
  font-family: 'Ambit', sans-serif;
  font-weight: 200;
}
