<section class="container-fluid px-5 pt-5">
  <div class="row">
    <div class="col-lg">
      <h5>Cartographie de l'écosystème entrepreneurial tunisien: Pourquoi ?</h5>
      <p class="mb-50">
        L’écosystème entrepreneurial tunisien est en pleine effervescence avec plus d’une centaine d’acteurs établis couvrant la totalité de la chaîne de valeur ainsi que des centaines de startups opérant dans plusieurs secteurs. Toutefois, plusieurs challenges sont apparus :<br/><br/>
        -    Entrepreneurs confus quant aux rôles des acteurs dont le nombre augmente considérablement.<br/>
        -    Indicateurs de performance des acteurs de l’écosystème restent imprécises voir inconnues.<br/>
        -    Manque de visibilité des connexions et des synergies existantes et de leur degré d’efficacité.<br/>
        -    Ecosystème insuffisamment connecté et peu exposé à l’échelle international.<br/><br/>
        Devant cette réalité et avec la perspective d’un enrichissement significatif et accéléré de cet écosystème, il est devenu primordial de mettre en place une plateforme dynamique en ligne qui donnera l’opportunité à tous ses utilisateurs de découvrir tous les acteurs entrepreneuriaux de l’écosystème ainsi que tous les détails qui leurs sont relatifs.
      </p>
    </div>
  </div>
</section>
<section class="container-fluid px-5 pb-5 about-bg">
  <div class="row">
    <div class="col-lg">
      <h6>Notre vision :</h6>
      <p>
        Être la référence nationale et régionale dans le mapping des acteurs entrepreneuriaux en se focalisant sur la collecte, la présentation et la mise à jour des données relatives à la scène entrepreneuriale tunisienne.
      </p>
      <h6>Nos objectifs :</h6>
      <p>
        -  Faciliter l’accès à l’information à travers des données fiables, mises à jour et une utilisation ergonomique.<br/>
        -  Connecter les parties prenantes en favorisant les interactions et les échanges constructifs.<br/>
        -  Promouvoir les synergies en mettant l’accent sur les opportunités crées.<br/>
        -  Inspirer les jeunes en mettant en exergues les bonnes pratiques.<br/>
        -  Analyser et valoriser les données remontées en publiant des études et des rapports périodiques.<br/>
      </p>
      <h6>Notre portail :</h6>
      <p>
        Le portail Entrepreneurs of Tunisia permet de :<br/>
        -  Faire une recherche moyennant les mots clés :Nom de l’acteur, région, catégorie, secteur, personnes clés…(recherche intelligente)<br/>
        -    Trier & Filtrer : Trier : Permet de classer la liste<br/>
        o     de A-Z et de Z-A,<br/>
        o     du nouveau à l’ancien et vice-versa<br/>
        o     du plus proche au plus lointain et vice-versa<br/>
        -    Filtrer : Permet de filtrer par: Mot clé, Tags, Distance (choisir un périmètre), Autres critères à valider (startups qui recrutent…etc)<br/>
        -    Faire une recherche manuelle : Une manipulation manuelle de la carte moyennant un zoom-in zoom-out sur les gouvernorats<br/>
      </p>
      <h6>Nos rubriques :</h6>
      <p>
        -  Startups : juridiquement constituées et qui ont moins de 7 ans d'existence<br/>
        -  Organismes d’appui : Accélérateurs, incubateurs, initiatives entrepreneuriales... Banques, SICARs, fonds d'investissement publiques et privés...<br/>
        -  Facilitateurs : Bailleurs de fonds...<br/>
        -  Fournisseurs de ressources : Espaces de coworking, Fablabs...<br/>
        -  Fournisseurs de services : Gestion de projets, la levée de fonds, la tenue de comptabilité...Cabinets d'études, avocats…<br/>
        -  Média : Moyens de diffusion d’informations et de communication spécialisés dans l’entrepreneuriat<br/>
        -  Publications : Publication, rapports, études, vidéos éducatives<br/>
        -  Evénements : Foire, séminaire, conférence, atelier…<br/>
        -  Opportunités : Appels à candidature pour des formations, programmes entrepreneuriaux, recrutement auprès des startups ou des organismes d’appui…
      </p>
      <h6>Notre proposition de valeur :</h6>
      <p>
        Entrepreneurs of Tunisia sera la vitrine de l’écosystème entrepreneurial tunisien par excellence. Elle offre aux entrepreneurs tunisiens l’opportunité d’être présents sur le portail moyennant une fiche Entreprise / Startup permettant de se présenter à la communauté élargie mais aussi de :<br/>
        - D’interagir avec les différentes parties prenantes (futurs clients, fournisseurs, employés…etc)<br/>
        - Détecter les opportunités de collaboration<br/>
        Les acteurs de l’écosystème auront aussi la visibilité nécessaire et pourront :<br/>
        Entrepreneurs of Tunisia [EoT] : renvoie directement à la cible de la plateforme (les entrepreneurs) et leur environnement (Tunisia).<br/><br/>

        Sans nuances, ce nom vise directement le cœur de l’action primaire de la plateforme. Les entrepreneurs étant au centre de l’écosystème, tous les acteurs gravitent autour de ses agents de changements.<br/>

        Le nom vise à promouvoir la scène entrepreneuriale tunisienne à l’échelle internationale.
      </p>
    </div>
    <div class="col-lg-auto">
      <div class="bg-spacer"></div>
    </div>
  </div>
</section>
