@import "../../../vars";

section {
  background-image: url("../../../assets/images/login-bg.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 70vh;
}

.header {
  margin-top: 64px;
  margin-left: 16px;
  text-align: left;

  h1 {
    font-weight: 700;
    color: #575757;
    font-size: 55px;
  }

  p {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 200;
    color: #9E9E9E;
  }
}
