@import "src/vars";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.map-container {
  min-height: 70vh;
  height: 100%;

  @include media-breakpoint-up(lg) {
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    overflow: hidden;
  }

  agm-map {
    height: 70vh;
    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }
}

.logo-container {
  img {
    height: 60px;
  }
}

.organisation-name {
  font-family: 'Ambit', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: $blue1;
  text-transform: capitalize;
  margin: 0;
}

.organisation-address {
  font-family: 'Ambit', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: #8A98BA;
}

.contact {
  font-family: 'Ambit', sans-serif;
  font-size: 16px;
  color: #457B9D;
  text-transform: uppercase;
  font-weight: 300;

  svg-icon {
    margin-right: 10px;
  }

}

.social {
  margin-top: 20px;

  a {
    margin-right: 15px;
  }

}

h2.description-title {
  font-family: 'Ambit', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #575757;
}

p.organisation-description {
  font-family: 'Ambit', sans-serif;
  font-weight: 100;
  color: #7B7D80;
  font-size: 16px;
}

.stat-box {
  background: #FFFFFF;
  border-radius: 16px;
  height: 150px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.12);
  margin: 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.stat-content {
  width: 100%;
  text-align: center;
}

.stat-name {
  font-family: 'Ambit', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $blue1;
}

.stat-val {
  font-family: 'Ambit', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: $red;
}
