<div class="container text-center">
  <div class="slider">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="container carousel-slide">
          <div class="row no-gutters">
            <div class="col-lg-5 home-slide first-slide">
              <div class="slide-content d-flex flex-column justify-content-center h-100">
                <div>
                  <h2>Infographies & Rapports</h2>
                  <p>
                    Les startups, accélerateurs, incubateurs, investisseurs, coworking spaces, structures de soutien (Enabler),
                    services publiques, média, appels à projets, événements et jobs.
                  </p>
                </div>
              </div>
              <img class="dots" src="assets/images/white-dots.svg">
              <div class="circle"></div>
            </div>
            <div class="col-lg-7 first-image-slide">
              <svg-icon class="dots dots-1" [svgStyle]="{'width.px': 32}" src="assets/images/blue-dots.svg"></svg-icon>
              <svg-icon class="dots dots-2" [svgStyle]="{'width.px': 32}" src="assets/images/blue-dots.svg"></svg-icon>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="container carousel-slide">
          <div class="row no-gutters">
            <div class="col-lg-7 second-image-slide order-1 order-lg-0">
              <svg-icon [svgStyle]="{'width.px': 32}" class="dots dots-1" src="assets/images/blue-dots.svg"></svg-icon>
              <svg-icon [svgStyle]="{'width.px': 32}" class="dots dots-2" src="assets/images/blue-dots.svg"></svg-icon>
            </div>
            <div class="col-lg-5 home-slide second-slide order-0 order-lg-1">
              <div class="slide-content d-flex flex-column justify-content-center h-100">
                <div>
                  <h2>Découvrir</h2>
                  <p>
                    Les startups, accélerateurs, incubateurs, investisseurs, coworking spaces, structures de soutien (Enabler),
                    services publiques, média, appels à projets, événements et jobs.
                  </p>
                  <a class="carousel-link" href="#">
                    <svg-icon [svgStyle]="{'width.px': 40}" src="assets/icons/ic-go.svg"></svg-icon>
                    Go To Map
                  </a>
                </div>
              </div>
              <img class="dots" src="assets/images/white-dots.svg">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="row justify-content-center pt-5">
    <div class="col-lg-10">
      <p class="home-seach-text">
        Rechercher une startup, accélerateur, incubateur, investisseur, coworking space, structure de soutien (Enabler),
        service publique, média, appel à projets, événement ou job
      </p>
      <div class="search-input mb-100">
        <svg-icon [svgStyle]="{'width.px': 32}" src="assets/images/search.svg"></svg-icon>
        <input type="text" placeholder="Recherche"/>
      </div>
    </div>
  </div>
  <h3 class="obs-title">L'Observatoire de l'écosystème entrepreneurial tunisien</h3>
  <div class="row text-center justify-content-center mb-100">
    <div *ngFor="let stat of stats" class="col-lg-2 stat-item text-center text-lg-start mb-3">
      <p class="stat-value">{{ stat?.value }}</p>
      <p class="stat-title">{{ stat?.name }}</p>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="w-100 mb-130 d-flex justify-content-center">
    <div class="slider w-75">
      <owl-carousel-o [options]="insightsCustomOptions">
        <ng-template *ngFor="let insight of insights" carouselSlide>
          <app-insight-item [insight]="insight"></app-insight-item>
        </ng-template>
      </owl-carousel-o>
    </div>
    <img class="floating-circle float-r" src="assets/images/ic_cicle_blue_up.svg"/>
  </div>
</div>

<div class="main-title-content">
  <div class="pin-container flex-wrap">
  </div>
  <div class="content-container py-5">
    <h2 class="main-title">
      Main Title Here
    </h2>
    <p class="main-paragraph">
      Rechercher une startup, accélerateur, incubateur, investisseur, coworking space, structure de soutien (Enabler),
      service publique, média, appel à projets, événement ou job
    </p>
    <div class="button-container">
      <ul class="link-list">
        <li class="link-item">
          <a class="link" routerLink="/add">
            Ajouter votre startup
            <svg-icon [svgStyle]="{'width.px': 24}" src="assets/images/ic-add-circle-white.svg"></svg-icon>
          </a>
        </li>
        <li class="link-item">
          <a class="link" href="#">
            Ajouter votre offre d’emploi
            <svg-icon [svgStyle]="{'width.px': 24}" src="assets/images/ic-add-circle-white.svg"></svg-icon>
          </a>
        </li>
        <li class="link-item">
          <a class="link" routerLink="/add">
            Ajouter votre structure de soutien
            <svg-icon [svgStyle]="{'width.px': 24}" src="assets/images/ic-add-circle-white.svg"></svg-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="image-container">
    <img class="main-image" src="assets/images/main_title_img@2x.png"/>
  </div>
</div>

<div class="container-fluid">
  <div class="about mb-80">
    <div class="header d-flex align-items-center justify-content-center">
      <svg-icon [svgStyle]="{'height.px': 59}" src="assets/images/about.svg"></svg-icon>
      <h1>À propos</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h5>Nos objectifs :</h5>
          <p>
            Faciliter l’accès à l’information à travers des données fiables, mises à jour et une utilisation
            ergonomique.<br/><br/>Connecter les parties prenantes en favorisant les interactions et les échanges
            constructifs.<br/><br/>Promouvoir les synergies en mettant l’accent sur les opportunités crées.<br/><br/>Inspirer
            les jeunes en mettant en exergues les bonnes pratiques.<br/><br/>Analyser et valoriser les données remontées
            en publiant des études et des rapports périodiques.
          </p>
        </div>
        <div class="col-lg-6">
          <h5>Notre vision :</h5>
          <p>Être la référence nationale et régionale dans le mapping des acteurs entrepreneuriaux en se focalisant sur la collecte, la présentation et la mise à jour des données relatives à la scène entrepreneuriale tunisienne.</p>
        </div>
      </div>
    </div>
  </div>
</div>
