<div class="container text-center">
  <div class="slider">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="assets/images/slider_home_1.svg"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/slider_home_2.svg"/>
      </ng-template>
    </owl-carousel-o>
  </div>

  <p class="home-seach-text">
    Recherche un startup , accelerateur, incubateur ,Investisseur, Coworking Space, Structure de soutien (Enabler),
    Service publique, Media, Appel à projets ,Evénement ou Job
  </p>
  <div class="seach-input mb-100">
    <img src="assets/images/search.svg"/>
    <input type="text" placeholder="Recherche"/>
  </div>
  <h2>L'Observatoire de l'écosystème entrepreneurial tunisien</h2>
  <div class="row text-center justify-content-center mb-100">
    <div class="col-2 stat-item">
      <h1>250</h1>
      <h6>startups</h6>
    </div>
    <div class="col-2 stat-item">
      <h1>160</h1>
      <h6>structures d’accompagnement</h6>
    </div>
    <div class="col-2 stat-item">
      <h1>98</h1>
      <h6>Coworking spaces</h6>
    </div>
    <div class="col-2 stat-item">
      <h1>20</h1>
      <h6>investisseurs</h6>
    </div>
    <div class="col-2 stat-item">
      <h1>10</h1>
      <h6>infographies & rapports</h6>
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="w-100 mb-130 d-flex justify-content-center">
    <div class="slider w-75">
      <owl-carousel-o [options]="insightsCustomOptions">
        <ng-template carouselSlide>
          <app-insight-item></app-insight-item>
        </ng-template>
        <ng-template carouselSlide>
          <app-insight-item></app-insight-item>
        </ng-template>
        <ng-template carouselSlide>
          <app-insight-item></app-insight-item>
        </ng-template>
        <ng-template carouselSlide>
          <app-insight-item></app-insight-item>
        </ng-template>
      </owl-carousel-o>
    </div>
    <img class="floating-circle float-r" src="assets/images/ic_cicle_blue_up.svg"/>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="main-title-content d-flex">
    <img class="pin" src="assets/images/mbpin.svg"/>
    <div class="main-content">
      <h3><i>Main Title here</i></h3>
      <h6 class="mb-100">Recherche un startup , accelerateur, incubateur ,Investisseur, Coworking Space, Structure de
        soutien
        (Enabler), Service publique, Media, Appel à projets ,Evénement ou Job </h6>
      <div class="mb-30">
        <span class="action-item">
        <span>Ajouter votre startup</span>
        <img src="assets/images/ic-add-circle-white.svg"/>
      </span>
      </div>

      <div class="mb-30">
      <span class="action-item">
        <span>Ajouter votre offre d’emploi</span>
        <img src="assets/images/ic-add-circle-white.svg"/>
      </span>
      </div>

      <div class="mb-30">
        <span class="action-item">
        <span>Ajouter votre structure de soutien</span>
        <img src="assets/images/ic-add-circle-white.svg"/>
      </span>
      </div>

    </div>
    <img class="main-image" src="assets/images/main_title_img@2x.png"/>
  </div>
  <div class="about mb-80">
    <div class="header d-flex align-items-center justify-content-center">
      <img src="assets/images/about.svg">
      <h1>A propos</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h5>Nos objectifs :</h5>
          <p>
            Faciliter l’accès à l’information à travers des données fiables, mises à jour et une utilisation
            ergonomique.<br/><br/>Connecter les parties prenantes en favorisant les interactions et les échanges
            constructifs.<br/><br/>Promouvoir les synergies en mettant l’accent sur les opportunités crées.<br/><br/>Inspirer
            les jeunes en mettant en exergues les bonnes pratiques.<br/><br/>Analyser et valoriser les données remontées
            en publiant des études et des rapports périodiques.
          </p>
        </div>
        <div class="col-6">
          <h5>Notre vision :</h5>
          <p>Être la référence nationale et régionale dans le mapping des acteurs entrepreneuriaux en se focalisant sur la collecte, la présentation et la mise à jour des données relatives à la scène entrepreneuriale tunisienne.</p>
        </div>
      </div>
    </div>
  </div>
</div>
