<div class="container container-shape">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="add-title">Ajouter votre organisme</h1>
      <p class="add-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </div>
  <div class="form-rectangle">
    <mat-tab-group>
      <mat-tab label="Startup">
        <div class="container">
          <form class="py-3 px-md-5">
            <h2 class="form-subtitle">Détails Généraux</h2>
            <div class="px-md-5 pb-3">
              <div class="row">
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Nom de la Startup</label>
                  <input type="text"
                         placeholder="Le nom de votre startup"
                         class="form-control">
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Date de création</label>
                  <input type="date"
                         placeholder="20/01/2020"
                         class="form-control">
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Où avez-vous implanté votre startup?</label>
                  <mat-select placeholder="Votre région"
                              class="form-control">
                    <mat-option>Tunis</mat-option>
                    <mat-option>Ariana</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7 pb-3">
                  <label class="form-label">Adresse</label>
                  <input type="text"
                         placeholder="Immeuble Cercle de bureau, 2ème étage B2 Centre Urbain Nord Tunis, Tunisie"
                         class="form-control">
                </div>
                <div class="col-lg-5 pb-3">
                  <label class="form-label">Pin de géolocalisation</label>
                  <div class="inner-add-on right-add-on">
                    <input type="text"
                           placeholder="41°24'12.2&quot; N 2°10'26.5&quot; E"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-map.svg" [svgStyle]="{'width.px': 22, 'height.px': 22}"></svg-icon>
                  </div>
                </div>
              </div>
              <hr class="form-hr">
            </div>
            <h2 class="form-subtitle">Informations de contact</h2>
            <div class="px-md-5 pb-3">
              <div class="row">
                <div class="col-lg-4 pb-3">
                  <label class="form-label">E-mail</label>
                  <input type="text"
                         placeholder="votrestartup@example.com"
                         class="form-control">
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Téléphone</label>
                  <input type="text"
                         placeholder="+216 99 999 999"
                         class="form-control">
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Site web</label>
                  <input type="text"
                         placeholder="www.votresiteweb.com"
                         class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <label class="form-label">Réseaux sociaux</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="linkedin/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-linkedin.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="facebook/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-facebook.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="twitter/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-twitter.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="instagram/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-instagram.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
              </div>
              <hr class="form-hr">
            </div>
            <h2 class="form-subtitle">À propos de votre startup</h2>
            <div class="px-md-5 pb-3">
              <div class="row">
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Secteur</label>
                  <mat-select placeholder="Votre Secteur d'activité"
                              class="form-control">
                    <mat-option>Tunis</mat-option>
                    <mat-option>Ariana</mat-option>
                  </mat-select>
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Stade d'avancement</label>
                  <mat-select placeholder="Stade d'avancement"
                              class="form-control">
                    <mat-option>Tunis</mat-option>
                    <mat-option>Ariana</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="row">
                <div class="col pb-3">
                  <label class="form-label">Description de la Startup</label>
                  <textarea class="form-control"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 pb-3">
                  <label class="form-label">Nombre de co-fondateurs</label>
                  <input type="number"
                         placeholder="2"
                         style="width: 8ch"
                         class="form-control text-right">
                </div>
                <div class="col-lg-3 pb-3">
                  <label class="form-label">Financement levé</label>
                  <div class="inner-add-on right-add-on">
                    <input type="number"
                           placeholder="10000"
                           class="form-control text-right">
                    <span class="inner-text currency">DT</span>
                  </div>
                </div>
                <div class="col-lg-3 pb-3">
                  <label class="form-label">Nombre d’employés</label>
                  <input type="number"
                         placeholder="50"
                         style="width: 8ch"
                         class="form-control text-right">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 pb-3">
                  <label class="form-label">Logo</label>
                  <label class="pic-label">
                    <img src="assets/images/file.svg">
                    <span class="label-text"><span class="highlight">Upload</span> your logo</span>
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" hidden>
                  </label>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-2">
                <button class="btn eot-btn w-100">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Structure de Soutien">
        <div class="container">
          <form class="py-3 px-md-5">
            <h2 class="form-subtitle">Détails Généraux</h2>
            <div class="px-md-5 pb-3">
              <div class="row">
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Vous êtes?</label>
                  <mat-select placeholder="Type de service"
                              class="form-control">
                    <mat-option>Tunis</mat-option>
                    <mat-option>Ariana</mat-option>
                  </mat-select>
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Date de création</label>
                  <input type="date"
                         placeholder="20/01/2020"
                         class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7 pb-3">
                  <label class="form-label">Adresse</label>
                  <input type="text"
                         placeholder="Immeuble Cercle de bureau, 2ème étage B2 Centre Urbain Nord Tunis, Tunisie"
                         class="form-control">
                </div>
                <div class="col-lg-5 pb-3">
                  <label class="form-label">Pin de géolocalisation</label>
                  <div class="inner-add-on right-add-on">
                    <input type="text"
                           placeholder="41°24'12.2&quot; N 2°10'26.5&quot; E"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-map.svg" [svgStyle]="{'width.px': 22, 'height.px': 22}"></svg-icon>
                  </div>
                </div>
              </div>
              <hr class="form-hr">
            </div>
            <h2 class="form-subtitle">Informations de contact</h2>
            <div class="px-md-5 pb-3">
              <div class="row">
                <div class="col-lg-4 pb-3">
                  <label class="form-label">E-mail</label>
                  <input type="text"
                         placeholder="votrestartup@example.com"
                         class="form-control">
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Téléphone</label>
                  <input type="text"
                         placeholder="+216 99 999 999"
                         class="form-control">
                </div>
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Site web</label>
                  <input type="text"
                         placeholder="www.votresiteweb.com"
                         class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <label class="form-label">Réseaux sociaux</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="linkedin/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-linkedin.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="facebook/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-facebook.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="twitter/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-twitter.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
                <div class="col-lg-3 pb-3">
                  <div class="inner-add-on left-outer-add-on">
                    <input type="text"
                           placeholder="instagram/startup"
                           class="form-control">
                    <svg-icon class="inner-icon" src="assets/icons/ic-instagram.svg" [svgStyle]="{'width.px': 14, 'height.px': 14}"></svg-icon>
                  </div>
                </div>
              </div>
              <hr class="form-hr">
            </div>
            <h2 class="form-subtitle">À propos de votre structure de soutien</h2>
            <div class="px-md-5 pb-3">
              <div class="row">
                <div class="col pb-3">
                  <label class="form-label">Description de la structure de soutien</label>
                  <textarea class="form-control"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 pb-3">
                  <label class="form-label">Stade d'avancement</label>
                  <mat-select placeholder="Stade d'avancement"
                              class="form-control">
                    <mat-option>Tunis</mat-option>
                    <mat-option>Ariana</mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 pb-3">
                  <label class="form-label">Logo</label>
                  <label class="pic-label">
                    <img src="assets/images/file.svg">
                    <span class="label-text"><span class="highlight">Upload</span> your logo</span>
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" hidden>
                  </label>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-2">
                <button class="btn eot-btn w-100">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
