<div class="container mx-auto w-75">
  <h1>Bienvenue!</h1>
  <h5>connectez-vous maintenant pour continuer</h5>
  <form>
    <div class="row">
      <mat-form-field appearance="fill" floatLabel="always">
        <img matPrefix class="mat-input-icon" src="assets/images/ic_mail.svg" width="19px" height="19px">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" floatLabel="always">
        <img matPrefix class="mat-input-icon" src="assets/images/ic_password.svg" width="19px" height="19px">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe">
      </mat-form-field>
    </div>
    <div class="row">
      <a>mot de passe oublié ?</a>
    </div>
    <div class="row">
      <button class="btn btn-primary">connection</button>
    </div>
    <div class="row">
      <span>ou continuer avec</span>
    </div>
    <div class="row login-btns">
      <img src="assets/images/login-fb.svg"/>
      <img src="assets/images/login-google.svg"/>
    </div>
  </form>
</div>
