
.mat-form-field-appearance-fill .mat-form-field-flex {
}

h1 {
  font-size: 36px;
  color: #1D3557;
  font-weight: 400;
  margin-top: 10vh;
  margin-bottom: 19px;
}

h5 {
  font-weight: 200;
  font-size: 14.4px;
  color: #A8A8A8;
  margin-bottom: 31px;
}

a,span {
text-align: left;
  color: #A8A8A8;
  font-weight: 200;
  font-size: 13px;
}

span {
text-align: center!important;
  margin-bottom: 20px;
}


.login-btns {
  justify-content: center;
  img {
    width: 106px;
  }
}

form {

}

.btn {
  background: #457B9D;
  border: none;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 16px;
}


