$red: #E62825 !default;
$blue0: #457B9D !default;
$blue1: #1D3557 !default;
$pink0: #9BA4B4 !default;
$pink1: #616B81 !default;
$pink2: #384663 !default;
$pink3: #1D3557 !default;
$gray1: #9E9E9E !default;
$gray2: #707070 !default;
$green: #349A9A !default;
$startup: #349A9A !default;
$accelerator: #F16768 !default;
$incubator: #F8981D !default;
$investor: #2E99CE !default;
$coworking: #8F993D !default;
$structures: #1A3665 !default;
$media: #DE1F26 !default;
$services: #BE63F9 !default;
$jobs: #457B9D !default;
$projects: #B3DDC4 !default;
$events: #7D7D7D !default;
$bg-color: #fafafb !default;
$image-upload: #9ba6b5 !default;
$carousel-bg: #F6F6F6 !default;

// Material Theme
$eot: (
  50: $blue0,
  100: $blue0,
  200: $blue0,
  300: $blue0,
  400: $blue0,
  500: $blue0,
  600: $blue0,
  700: $blue0,
  800: $blue0,
  900: $blue0,
  A100: $blue0,
  A200: $blue0,
  A400: $blue0,
  A700: $blue0,
  contrast: (
    50: $blue1,
    100: $blue1,
    200: $blue1,
    300: $blue1,
    400: $blue1,
    500: $blue1,
    600: $blue1,
    700: $blue1,
    800: $blue1,
    900: $blue1,
    A100: $blue1,
    A200: $blue1,
    A400: $blue1,
    A700: $blue1,
  )
);
