$red: #E62825 !default;
$blue0: #457B9D !default;
$blue1: #1D3557 !default;
$pink0: #9BA4B4 !default;
$pink1: #616B81 !default;
$pink2: #384663 !default;
$pink3: #1D3557 !default;
$gray1: #9E9E9E !default;
$gray2: #707070 !default;
$green: #349A9A !default;
$startup: #349A9A !default;
$accelerator: #F16768 !default;
$incubator: #F8981D !default;
$investisor: #2E99CE !default;
$coworkingSpace: #8F993D !default;
$structures: #1A3665 !default;
$media: #DE1F26 !default;
$services: #BE63F9 !default;
$jobs: #457B9D !default;
$projects: #B3DDC4 !default;
$events: #7D7D7D !default;
